#neoWrapper {
    display: grid; 
    grid-template-columns: min-content 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
    align-items: center;
    margin-left: 25px;
}

@media only screen and (max-width: 600px){
    #neoWrapper {
        display:flex;
        flex-direction: column;
    }
}

.neoUl {
    list-style-type: none;
}

#imgMe {
    height: 225px
}

.neoUl > li {
    padding: 4px
}